<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="damarescavalcante.learnwebtech">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_web1"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".LayoutAboutApp"></activity>
        <activity android:name=".LayoutInitialHtml"></activity>
        <activity android:name=".LayoutInitialCss"></activity>
        <activity android:name=".LayoutInitialBootstrap"></activity>
        <activity android:name=".LayoutInitialJavascript"></activity>
        <activity android:name=".LayoutInitialJquery"></activity>


    </application>

</manifest>
