<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="damarescavalcante.learnwebtech">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_web1"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Initial layout for exhibition technology -->
        <activity android:name=".LayoutAboutApp"></activity>

        <!-- Initial layout for exhibition content technology -->
        <activity android:name=".LayoutFinalHtml"></activity>

        <!-- quiz layouts -->
        <activity android:name=".QuizHtmlQuestion1"></activity>
        <activity android:name=".QuizHtmlQuestion2"></activity>
        <activity android:name=".QuizHtmlQuestion3"></activity>
        <activity android:name=".QuizHtmlQuestion4"></activity>
        <activity android:name=".QuizHtmlQuestion5"></activity>
        <activity android:name=".QuizHtmlQuestion6"></activity>
        <activity android:name=".QuizHtmlQuestion7"></activity>
        <activity android:name=".QuizHtmlQuestion8"></activity>
        <activity android:name=".QuizHtmlQuestion9"></activity>
        <activity android:name=".QuizHtmlQuestion10"></activity>

        <!-- quiz points -->
        <activity android:name=".QuizPoints"></activity>

    </application>

</manifest>
